
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPrimary.cshtml";
}

<!-- top Products -->
<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <h3 class="head">Contacténos</h3>
        <p class="head_para">Añadir alguna descripción</p>
        <div class="inner_section_w3ls">
            <div class="col-md-7 contact_grid_right">
                <h6>Rellene este formulario para contactar con nosotros.</h6>
                <form action="#" method="post">
                    <div class="col-md-6 col-sm-6 contact_left_grid">
                        <input type="text" name="Nombre" placeholder="Nombre" required="">
                        <input type="email" name="correo" placeholder="correo" required="">
                    </div>
                    <div class="col-md-6 col-sm-6 contact_left_grid">
                        <input type="text" name="Telefono" placeholder="Telefono" required="">
                        <input type="text" name="Tema" placeholder="Tema" required="">
                    </div>
                    <div class="clearfix"> </div>
                    <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Mensaje...</textarea>
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Limpiar">
                </form>
            </div>
            <div class="col-md-5 contact-left">
                <h6>Datos de contacto</h6>
                <div class="visit">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-home" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Visítanos</h4>
                        <p>Mérida Centro, Yucatan</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="mail-us">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Correo</h4>
                        <p><a href="mailto:info@example.com">zapateria@YucatanSur.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="call">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Llamanos</h4>
                        <p>+529992569432</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="visit">

                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>

        <div class="clearfix"></div>

    </div>
</div>
<div class="contact-map">

    <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d14905.414295207656!2d-89.61574619999999!3d20.938311499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d20.940315599999998!2d-89.6158749!5e0!3m2!1ses!2smx!4v1561067460607!5m2!1ses!2smx"
            class="map" style="border:0" allowfullscreen=""></iframe>
</div>

<!-- /newsletter-->
<div class="newsletter_w3layouts_agile">
    <div class="col-sm-6 newsleft">
        <h3>Se parte de nosotros !</h3>
    </div>

    <div class="clearfix"></div>
</div>
<!-- //newsletter-->